body.gray{background-color:#f6f6f6;}
body.notheader .wrap{background:none;}

/* 解决 iOS 下输入框获取焦点时错位 */
body.onfocus .header header,
body.onfocus .footer_nav nav{position:relative;}

/* 降低 iOS 下头部闪烁 */
.wrap{
background:-webkit-linear-gradient(top, rgba(80,197,247,1) 0%, rgba(80,197,247,1) 44px, rgba(255,255,255,1) 44px, rgba(255,255,255,1) 100%);
background:linear-gradient(to bottom, rgba(80,197,247,1) 0%, rgba(80,197,247,1) 44px, rgba(255,255,255,1) 44px, rgba(255,255,255,1) 100%);
}


/**
 * 头部
 * ------------------------------ */
.header{position:relative;height:44px;z-index:9;}
.header header{position:fixed;width:100%;height:44px;background-color:#4a89dc;color:#fff;}
.header h1{overflow:hidden;height:44px;margin:0 54px;font-weight:normal;font-size:2rem;line-height:44px;text-align:center;text-overflow:ellipsis;white-space:nowrap;}
.header{position:relative;height:44px;z-index:10;}

.header .toleft,
.header .toright{position:absolute;top:0;left:0;padding:0 10px;font-size:1.6rem;color:#fff;line-height:44px;}
.header .toright{left:auto;right:0;}

.header .icon{overflow:hidden;position:absolute;top:0;left:0;width:44px;height:100%;text-indent:100%;white-space:nowrap;}
.header .icon:before{content:'';position:absolute;top:50%;left:50%;width:24px;height:24px;margin:-12px 0 0 -12px;background-repeat:no-repeat;background-size:contain;}
.header .icon.onright{left:auto;right:0;}

.header .back:before,
.header .go:before{width:12px;height:12px;margin:-8px 0 0 -8px;border:2px solid transparent;border-bottom-color:#fff;border-left-color:#fff;
-webkit-transform:rotate(45deg);
transform:rotate(45deg);
}
.header .go:before{
-webkit-transform:rotate(-135deg);
transform:rotate(-135deg);
}

.header .menu{position:absolute;top:0;left:0;width:44px;height:100%;color:#fff;}
.header .menu dt{font-size:3rem;height:44px;line-height:44px;text-align:center;}
.header .menu dt:before{content:'+';display:block;color:#fff;
-webkit-transition:-webkit-transform 0.4s ease-out;
transition:transform 0.4s ease-out;
}
.header .menu dt:after{content:'';position:absolute;top:100%;left:50%;margin:-4px 0 0 -6px;border:6px solid transparent;border-bottom-color:#4a89dc;opacity:0;
transition:opacity 0.4s ease-out;
-webkit-transition:opacity 0.4s ease-out;
}
.header .menu dd{overflow:hidden;position:absolute;top:100%;left:5px;width:5em;max-height:0;margin-top:8px;padding:0 10px;border-radius:3px;background-color:#4a89dc;font-size:1.4rem;line-height:40px;opacity:0;
-webkit-transition:max-height 0.4s ease-out, opacity 0.4s ease-out;
transition:max-height 0.4s ease-out, opacity 0.4s ease-out;
}
.header .menu dd a{display:block;position:relative;padding-left:0.5em;color:#fff;}
.header .menu dd a + a{border-top:1px solid rgba(255,255,255,0.3);}

.header .menu.onright{left:auto;right:0;}
.header .menu.onright dd{left:auto;right:5px;}

.header .menu.open dt:before{
-webkit-transform:rotate(135deg);
transform:rotate(135deg);
}
.header .menu.open dt:after{opacity:1;}
.header .menu.open dd{max-height:164px;opacity:1;}


/**
 * 底部导航
 * ------------------------------ */
.footer_nav{position:relative;height:55px;margin-top:10px;z-index:9;}
.footer_nav nav{overflow:hidden;position:fixed;bottom:0;left:0;width:100%;height:55px;border-top:1px solid #ddd;background-color:rgba(255,255,255,0.9);text-align:center;
display:-webkit-flex;
display:flex;
}
.footer_nav nav a{overflow:hidden;position:relative;padding-top:7px;text-indent:100%;white-space:nowrap;color:#999;
-webkit-flex:1 1 50%;
flex:1 1 50%;
}
.footer_nav nav a:before{content:'';display:block;width:24px;height:24px;margin:0 auto 2px;background-color:#ddd;background-repeat:no-repeat;}


/**
 * 焦点图
 * 默认尺寸比例（16:9）
 * ------------------------------ */
.slide{overflow:hidden;visibility:hidden;position:relative;}
.slide .box{overflow:hidden;position:relative;}
.slide .box li{position:relative;float:left;width:100%;}
.slide .item{display:block;position:relative;height:0;padding-top:56.25%;background-repeat:no-repeat;background-position:center top;background-size:cover;}
.slide .btns{position:absolute;bottom:10px;left:50%;z-index:2;
-webkit-transform:translate(-50%, 0);
transform:translate(-50%, 0);
}
.slide .btns i{float:left;width:16px;height:2px;background-color:rgba(255,255,255,0.5);
-webkit-transition:background-color 0.2s ease-in-out;
transition:background-color 0.2s ease-in-out;
}
.slide .btns i + i{margin-left:4px;}
.slide .btns i.n{background-color:rgba(255,255,255,1);}


/**
 * 响应式处理
 * ------------------------------ */
@media (min-width:480px){
}

@media (min-width:568px){
}

@media (min-width:641px){
.header header,
.footer_nav nav{position:relative;}
}