body.gray{background-color:#f6f6f6;}

/* 解决 iOS 下输入框获取焦点时错位 */
body.onfocus .header header,
body.onfocus .footer_nav nav{position:relative;}

/* 降低 iOS 下头部闪烁 */
.headerfix{
background-image:-webkit-linear-gradient(top,rgba(80,197,247,1) 0%,rgba(80,197,247,1) 44px,rgba(255,255,255,0) 44px,rgba(255,255,255,0) 100%);
background-image:linear-gradient(to bottom,rgba(80,197,247,1) 0%,rgba(80,197,247,1) 44px,rgba(255,255,255,0) 44px,rgba(255,255,255,0) 100%);
background-repeat:no-repeat;
}



/**
 * 头部
 * ------------------------------ */
.header{position:relative;height:44px;line-height:44px;z-index:99;}
.header header{position:fixed;top:0;left:0;width:100%;height:inherit;background-color:#4a89dc;color:#fff;}
.header.line header:after{content:'';position:absolute;bottom:0;left:0;width:100%;height:1px;background-color:#2c61a5;}
.header.shadow header{box-shadow:0 1px 1px rgba(0,0,0,0.6);}
.header.unfixed header{position:relative;top:auto;left:auto;}

.header a{color:#eee;}
.header h1{overflow:hidden;margin:0 54px;font-weight:normal;font-size:2rem;line-height:inherit;text-align:center;text-overflow:ellipsis;white-space:nowrap;}

.header .toleft,
.header .toright{position:absolute;top:0;left:0;padding:0 10px;font-size:1.6rem;}
.header .toright{left:auto;right:0;}

.header .icon{overflow:hidden;position:absolute;top:0;left:0;width:44px;height:100%;text-indent:100%;white-space:nowrap;}
.header .icon:before{content:'';position:absolute;top:50%;left:50%;width:24px;height:24px;margin:-12px 0 0 -12px;background-repeat:no-repeat;background-size:contain;}
.header .icon.onright{left:auto;right:0;}

.header .icon.back:before,
.header .icon.go:before{width:12px;height:12px;margin:-8px 0 0 -8px;border:2px solid transparent;border-bottom-color:currentColor;border-left-color:currentColor;
-webkit-transform:rotate(45deg);
transform:rotate(45deg);
}
.header .icon.go:before{
-webkit-transform:rotate(-135deg);
transform:rotate(-135deg);
}
.header .icon.add:before,
.header .icon.add:after,
.header .icon.close:before,
.header .icon.close:after{content:'';position:absolute;top:50%;left:50%;width:2px;height:16px;margin:-8px 0 0 -1px;background-color:currentColor;}
.header .icon.add:after,
.header .icon.close:after{width:16px;height:2px;margin:-1px 0 0 -8px;}

.header .icon.close:before,
.header .icon.close:after{
-webkit-transform:rotate(45deg);
transform:rotate(45deg);
}

.header .menu{position:absolute;top:0;left:0;width:44px;height:100%;color:#fff;}
.header .menu dt{font-size:3rem;height:inherit;line-height:inherit;text-align:center;}
.header .menu dt:before{content:'+';display:block;
transition-property:-webkit-transform;
transition-property:transform;
transition-property:transform,-webkit-transform;
transition-duration:0.4s;
transition-timing-function:ease-out;
}
.header .menu dt:after{content:'';position:absolute;top:100%;left:50%;margin:-4px 0 0 -6px;border:6px solid transparent;border-bottom-color:#4a89dc;opacity:0;
transition:opacity 0.4s ease-out;
}
.header .menu dd{overflow:hidden;position:absolute;top:100%;left:5px;width:5em;max-height:0;margin-top:8px;padding:0 10px;border-radius:3px;background-color:#4a89dc;font-size:1.4rem;line-height:40px;opacity:0;
transition:max-height 0.4s ease-out,opacity 0.4s ease-out;
}
.header .menu dd a{display:block;position:relative;padding-left:0.5em;}
.header .menu dd a + a{border-top:1px solid rgba(255,255,255,0.3);}

.header .menu.onright{left:auto;right:0;}
.header .menu.onright dd{left:auto;right:5px;}

.header .menu.open dt:before{
-webkit-transform:rotate(135deg);
transform:rotate(135deg);
}
.header .menu.open dt:after{opacity:1;}
.header .menu.open dd{max-height:164px;opacity:1;}



/**
 * 底部
 * ------------------------------ */
.footer{min-height:20px;}

/**
 * 底部导航
 * ------------------------------ */
.footer_nav{position:relative;height:55px;margin-top:10px;z-index:99;}
.footer_nav nav{overflow:hidden;position:fixed;bottom:0;left:0;width:100%;height:55px;border-top:1px solid #ddd;background-color:rgba(255,255,255,0.9);line-height:20px;text-align:center;
display:-webkit-box;
display:box;
display:-webkit-flex;
display:flex;
}
.footer_nav nav a{overflow:hidden;position:relative;padding-top:7px;color:#999;white-space:nowrap;
-webkit-box-flex:1;
box-flex:1;
-webkit-flex:1 1 50%;
flex:1 1 50%;
}
.footer_nav nav a:before{content:'';display:block;width:24px;height:24px;margin:0 auto 2px;background-color:#ddd;background-repeat:no-repeat;}

.footer_nav.flex nav{
display:block;
}
.footer_nav.flex nav a{float:left;
-webkit-box-flex:0;
box-flex:0;
-webkit-flex:none;
flex:none;
}
.footer_nav.flex_1 nav a{width:100%;}
.footer_nav.flex_2 nav a{width:50%;}
.footer_nav.flex_3 nav a{width:33%;}
.footer_nav.flex_4 nav a{width:25%;}
.footer_nav.flex_5 nav a{width:20%;}



/**
 * 选项卡导航
 * ------------------------------ */
.nav_tab{position:relative;height:36px;font-size:1.4rem;line-height:36px;text-align:center;}
.nav_tab nav{box-sizing:border-box;position:relative;background-color:#fff;
display:-webkit-box;
display:box;
display:-webkit-flex;
display:flex;
}
.nav_tab nav:before{content:'';position:absolute;bottom:0;left:0;width:100%;height:1px;background-color:#ddd;}
.nav_tab a{position:relative;color:#888;
-webkit-box-flex:1;
box-flex:1;
-webkit-flex:1 1 50%;
flex:1 1 50%;
}
.nav_tab a.n{color:#4a89dc;}
.nav_tab a.n:after{content:'';position:absolute;bottom:0;left:20%;width:60%;height:2px;background-color:currentColor;}


/* 圆角版 */
.nav_tab.radius{height:50px;line-height:30px;}
.nav_tab.radius nav{padding:9px 10px;}
.nav_tab.radius a{border:1px solid #4a89dc;background-color:transparent;
transition-property:background-color,color;
transition-duration:0.4s;
}
.nav_tab.radius a:after{display:none;}
.nav_tab.radius a:first-child{border-top-left-radius:16px;border-bottom-left-radius:16px;}
.nav_tab.radius a:last-child{border-top-right-radius:16px;border-bottom-right-radius:16px;}
.nav_tab.radius a + a{border-left:none;}
.nav_tab.radius a.n{background-color:#4a89dc;color:#fff;}

.nav_tab.fixed{z-index:98;}
.nav_tab.fixed nav{position:fixed;top:0;left:0;width:100%;}

.nav_tab.flex nav{overflow:hidden;}
.nav_tab.flex a{float:left}
.nav_tab.flex_1 a{width:100%;
-webkit-box-flex:0;
box-flex:0;
-webkit-flex:none;
flex:none;
}
.nav_tab.flex_2 a{width:50%;}
.nav_tab.flex_3 a{width:33%;}
.nav_tab.flex_3 a:nth-child(2){width:34%;}
.nav_tab.flex_4 a{width:25%;}
.nav_tab.flex_5 a{width:20%;}

.header + .nav_tab.fixed nav{top:44px;}



/**
 * 链接导航
 * ------------------------------ */
.nav_link{font-size:1.4rem;line-height:44px;}
.nav_link a{display:block;position:relative;padding-left:10px;background-color:#fff;}
.nav_link a:after{content:'';position:absolute;top:50%;right:15px;width:8px;height:8px;border:2px solid transparent;border-top-color:currentColor;border-right-color:currentColor;color:#252525;
-webkit-transform:rotate(45deg) translate(-25%,-25%);
transform:rotate(45deg) translate(-25%,-25%);
}
.nav_link a + a{border-top:1px solid #ccc;}
.nav_link .group + .group{margin-top:10px;}



/**
 * 焦点图
 * 默认尺寸比例（16:9）
 * ------------------------------ */
.slide{overflow:hidden;visibility:hidden;position:relative;}
.slide > ul{overflow:hidden;position:relative;}
.slide > ul li{position:relative;float:left;width:100%;}
.slide .item{display:block;position:relative;height:0;padding-top:56.25%;background-repeat:no-repeat;background-position:center top;background-size:cover;}
.slide .btns{position:absolute;bottom:10px;left:50%;z-index:2;
-webkit-transform:translate(-50%,0);
transform:translate(-50%,0);
}
.slide .btns i{float:left;width:16px;height:2px;background-color:rgba(255,255,255,0.5);
-webkit-transition:background-color 0.2s ease-in-out;
transition:background-color 0.2s ease-in-out;
}
.slide .btns i + i{margin-left:4px;}
.slide .btns i.n{background-color:rgba(255,255,255,1);}



/**
 * 侧面板
 * ------------------------------ */
.panel_page{position:fixed;overflow-y:auto;width:100%;height:100%;z-index:100;background-color:#fff;
transition-property:-webkit-transform;
transition-property:transform;
transition-property:transform, -webkit-transform;
transition-duration:0.4s;
}
.panel_page.gray{background-color:#f6f6f6;}
.panel_page.halfwhite{background-color:rgba(255,255,255,0.6);}
.panel_page.halfblack{background-color:rgba(0,0,0,0.6);}

.panel_page.onleft{top:0;left:0;}
.panel_page.onleft.out{
-webkit-transform:translate(-100%,0);
transform:translate(-100%,0);
}
.panel_page.onright{top:0;right:0;}
.panel_page.onright.out{
-webkit-transform:translate(100%,0);
transform:translate(100%,0);
}
.panel_page.ontop{top:0;left:0;}
.panel_page.ontop.out{
-webkit-transform:translate(0,-100%);
transform:translate(0,-100%);
}
.panel_page.onbottom{bottom:0;left:0;}
.panel_page.onbottom.out{
-webkit-transform:translate(0,100%);
transform:translate(0,100%);
}

.panel_page > .bgclose{position:absolute;top:0;left:0;overflow:hidden;width:100%;height:100%;}
.panel_page > .bgclose:before{content:'+';position:absolute;top:0;right:0;width:44px;height:44px;color:#fff;font-size:3rem;line-height:44px;text-align:center;
-webkit-transform:rotate(-45deg);
transform:rotate(-45deg);
}



/**
 * 上传图片
 * ------------------------------ */
.upfile_pic li{float:left;position:relative;width:28%;height:0;margin:0 5% 20px 0;padding-top:28%;background-color:#eee;background-position:center;background-repeat:no-repeat;background-size:cover;}
.upfile_pic li label{box-sizing:border-box;overflow:hidden;position:absolute;top:0;left:0;width:100%;height:100%;border:1px solid #ddd;color:#ccc;text-align:center;}
.upfile_pic li label:before{content:'+';position:absolute;top:50%;left:50%;width:1em;margin:-0.5em 0 0 -0.5em;font-size:5rem;line-height:1;}
.upfile_pic li input[type='file']{position:absolute;top:0;left:0;width:100%;height:100%;opacity:0;}
.upfile_pic li a[rel='remove']{display:none;position:absolute;top:-8px;right:-8px;width:28px;height:28px;border-radius:50%;background:#aaa;color:#fff;font-size:2.4rem;line-height:28px;text-align:center;
-webkit-transform:rotate(45deg);
transform:rotate(45deg);
}
.upfile_pic li a[rel='remove']:before{content:'+';}
.upfile_pic li.have{background-color:transparent;}
.upfile_pic li.have label{display:none;}
.upfile_pic li.have a[rel='remove']{display:block;}



/**
 * 列表
 * ------------------------------ */
.ajax_list.load:after,
.ajax_list.empty:after,
.ajax_list.end:after{content:'';display:block;padding:10px;color:#888;font-size:1.4rem;text-align:center;}
.ajax_list.load:after{width:16px;height:16px;margin-left:auto;margin-right:auto;background:url(../img/loading.gif) no-repeat;}
.ajax_list.empty:after{content:attr(data-empty-tip);}
.ajax_list.end:after{content:attr(data-end-tip);}

.ajax_list li{position:relative;}
.ajax_list li .go{position:absolute;top:0;left:0;width:100%;height:100%;}
.ajax_list li .go.arrow:after{content:'';position:absolute;top:50%;right:15px;width:10px;height:10px;border:2px solid transparent;border-top-color:currentColor;border-right-color:currentColor;
-webkit-transform:rotate(45deg) translate(-25%,-25%);
transform:rotate(45deg) translate(-25%,-25%);
}

.ajax_list + .getmore{display:block;margin:10px;padding:10px;background-color:#fff;color:#888;font-size:1.4rem;text-align:center;}
.ajax_list.load + .getmore,
.ajax_list.empty + .getmore,
.ajax_list.end + .getmore{display:none;}





/**
 * Responsive
 * ------------------------------ */
@media (min-width:375px){
.header{height:46px;line-height:46px;}
.header .icon,
.header .menu{width:46px;}

.header + .nav_tab.fixed nav{top:46px;}
}

@media (min-width:480px){
}

@media (min-width:568px){
}

@media (min-width:641px){
.header header,
.footer_nav nav{position:relative;}
.nav_tab.fixed nav,
.header + .nav_tab.fixed nav{position:relative;top:auto;}
}