body.onfocus .hd_nav nav{position:relative;top:0;}

h2,h3,h4{margin:0.5em 0;}
h2{font-size:1.8rem;}
h3{color:#888;font-size:1.6rem;}
h4{color:#888;font-size:1.4rem;}

.footer_nav .col:before,
.footer_nav .more li:before{border-radius:3px;background-color:#ddd;}

#app_tip.demo:before{content:'点击右上角，分享到朋友圈';position:absolute;top:10px;right:10px;color:#fff;font-size:2rem;}
#app_tip.demo:after{content:'使用背景图片，定义样式';position:absolute;top:50px;right:10px;color:#aaa;font-size:1.6rem;}


/**
 * 提示
 * ------------------------------ */
.tipbox{padding:20px;}
.tipbox:before{content:'';display:block;margin:0 auto 10px;background-repeat:no-repeat;background-size:contain;}
.tipbox .info{color:#888;font-size:1.4rem;text-align:center;}
.tipbox .info h2,
.tipbox .info h3,
.tipbox .info h4{margin-bottom:0.5em;color:#555;font-size:1.6rem;}
.tipbox .btns{margin:20px;text-align:center;}

.tipbox.full{padding:0;}
.tipbox.full:before{background-size:cover;}

.tipbox.empty:before,
.tipbox.error:before{width:64px;height:64px;background-image:url(../img/tipbox/empty.png);}



/**
 * 示例区域
 * ------------------------------ */
.demo{margin-bottom:20px;padding-bottom:20px;border-bottom:1px solid #ccc;}
.demo h3{margin-top:10px;}
.demo p + p{margin-top:10px;}
.demo_link{font-size:1.4rem;line-height:2;}
.demo_link a{margin-right:10px;}

.demo_btns .button{margin-bottom:10px;margin-right:10px;margin-left:0;}

.nav_link em{margin-left:1em;color:#888;}

.form .in_sms{padding-right:150px;}
.form .in_sms img,
.form .in_sms a{position:absolute;top:50%;right:10px;margin-top:-16px;}
.form .in_sms a{width:8em;}


.style_tab .item{display:none;}
.style_tab.to_link .for_link,
.style_tab.to_button .for_button,
.style_tab.to_input .for_input,
.style_tab.to_select .for_select{display:block;}



/**
 * 响应式处理
 * ------------------------------ */
@media (min-width:480px){
}

@media (min-width:568px){
}

@media (min-width:641px){
.hd_nav nav{position:relative;top:0;}
}