
h1{padding:1em 0;font-size:2.4rem;}
h2,h3,h4{margin:0.5em 0;}
h2{font-size:1.8rem;}
h3{color:#555;font-size:1.6rem;}
h4{color:#555;font-size:1.4rem;}

code{margin:0 3px;padding:0 5px;border:1px solid #ddd;border-radius:3px;background:#f8f8f8;font-family:Consolas,'Lucida Console',Monaco,Courier,'Courier New';}

pre{position:relative;margin:10px 0;padding:14px;border:1px solid #ddd;border-radius:3px;background:#f7f7f7;color:#555;word-wrap:break-word;}
pre code{margin:0;padding:0;border:none;background:none;font-family:Consolas,'Lucida Console',Monaco,Courier,'Courier New';font-size:1.2rem;}

#wechat_share_tip.demo:before{content:'点击右上角，分享到朋友圈';position:absolute;top:10px;right:10px;color:#fff;font-size:2rem;}
#wechat_share_tip.demo:after{content:'使用背景图片，定义样式';position:absolute;top:50px;right:10px;color:#aaa;font-size:1.6rem;}

.demo{margin-bottom:10px;padding-bottom:10px;border-bottom:1px solid #ccc;}
.demo h3{margin-top:10px;}
.demo h3:first-child{margin-top:0;}
.demo p + p{margin-top:10px;}
.demo_link{font-size:1.4rem;line-height:2;}
.demo_link a{margin-right:10px;}

.form .in_sms{padding-right:150px;}
.form .in_sms img,
.form .in_sms a{position:absolute;top:50%;right:10px;margin-top:-16px;}
.form .in_sms a{width:8em;}
