/**
 * iOS Status Bar 覆盖页面 (适用于打包的 APP)
 * ------------------------------ */

/* iPhone 5 ~ 8 */
@media (device-width:320px) and (device-height:568px), (device-width:375px) and (device-height:667px), (device-width:414px) and (device-height:736px), (device-width:375px) and (device-height:812px), (device-width:414px) and (device-height:896px), (device-width:390px) and (device-height:844px), (device-width:428px) and (device-height:926px) {
:root{
--iphone-header-fix:20px;
}

.header{height:calc(var(--header-size) + var(--iphone-header-fix));}
.header header{padding-top:var(--iphone-header-fix);}
.header .onleft,
.header .onright{top:var(--iphone-header-fix);}

.header + .panel_body,
.header + .tabnav.fixed nav,
.header + .filter_tool.fixed nav{top:calc(var(--header-size) + var(--iphone-header-fix));}

.header + .tabnav + .panel_body,
.header + .tabnav.fixed + .filter_tool.fixed nav,
.header + .filter_tool + .panel_body,
.header + .filter_tool.fixed + .tabnav.fixed nav{top:calc(var(--header-size) + var(--iphone-header-fix) + 40px);}

.header + .tabnav.radius + .panel_body,
.header + .tabnav.radius.fixed + .filter_tool.fixed nav{top:calc(var(--header-size) + var(--iphone-header-fix) + 48px);}

.header + .tabnav + .filter_tool + .panel_body,
.header + .filter_tool + .tabnav + .panel_body{top:calc(var(--header-size) + var(--iphone-header-fix) + 80px);}

.header + .tabnav.radius + .filter_tool + .panel_body,
.header + .filter_tool + .tabnav.radius + .panel_body{top:calc(var(--header-size) + var(--iphone-header-fix) + 88px);}
}


/* iPhone X ~ 12 */
@media (device-width:375px) and (device-height:812px), (device-width:414px) and (device-height:896px), (device-width:390px) and (device-height:844px), (device-width:428px) and (device-height:926px) {
:root{
--iphone-header-fix:44px;
}
}
