@import url('../plugins/notyf/css/notyf.css');
@import url('../plugins/cxDialog/css/jquery.cxdialog.css');
@import url('../plugins/cxCalendar/css/cxcalendar.css');


@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/webfonts/fa-regular-400.eot');
  src: url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/webfonts/fa-regular-400.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/webfonts/fa-regular-400.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/webfonts/fa-regular-400.woff') format('woff'),
    url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/webfonts/fa-regular-400.ttf') format('truetype'),
    url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/webfonts/fa-regular-400.svg#fontawesome') format('svg');
}
@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/webfonts/fa-solid-900.eot');
  src: url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/webfonts/fa-solid-900.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/webfonts/fa-solid-900.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/webfonts/fa-solid-900.woff') format('woff'),
    url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/webfonts/fa-solid-900.ttf') format('truetype'),
    url('https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/webfonts/fa-solid-900.svg#fontawesome') format('svg');
}


/**
 * Notyf
 * ------------------------------ */
.notyf {
  padding: var(--gap-default);
}
.notyf__toast{
  padding: 0;
}
.notyf__wrapper{
  padding: 0;
  border: var(--radius);
}
.notyf__message{
  padding: 8px 12px 8px 32px;
}
.notyf__message:before{
  position: absolute;
  top: 8px;
  left: 12px;
  font-family: 'FontAwesome';
  font-weight: 900;
}

.notyf__toast--upper {
  margin-bottom: var(--gap-default);
}
.notyf__toast--lower {
  margin-top: var(--gap-default);
}

.notyf__cxm--success .notyf__message:before{
  content: '\f058';
}
.notyf__cxm--info .notyf__message:before{
  content: '\f05a';
}
.notyf__cxm--warn .notyf__message:before{
  content: '\f06a';
}
.notyf__cxm--error .notyf__message:before{
  content: '\f057';
}
